< form method = "POST" >
    <label for = "name">NAME</label>
    <input type = "text" name ="name" require/>
    <label for ="school">School</label>
    <input type="text" name="school" required/>
    <button type="submit">Add new student</button>
</form>